@font-face {
    font-family: 'FOT-Seurat Pro B';
    src: url('fonts/FOT-Seurat Pro B.otf') format('opentype');
}
body {
    background-color: blanchedalmond;
    font-family: 'FOT-Seurat Pro B';
    color: #74664B;
    cursor: url('images/Animal-Crossing-leaf-cursor.png'), auto;
}
.container {
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
}
img{
    width: 50px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .cart-image{
    position: relative;    
}
header .cart-image span{
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    background-color: limegreen;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 2px;
}
.catalog .item img{
    width: 80%;
}
.catalog{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.catalog .item{
    background-color: bisque;
    padding: 20px;
    border-radius: 20px;
    line-height: 22px;
}
.catalog .item h2{
    font-size: medium;
    letter-spacing: 1px;
}
.catalog .item .price{
    font-size: smaller;
    letter-spacing: 2px;
}
    .catalog .item button {
        background-color: burlywood;
        color: saddlebrown;
        font-family: 'FOT-Seurat Pro B';
        padding: 5px 10px;
        line-height: 13px;
        font-size: x-small;
        border-radius: 15px;
        margin-top: 10px;
        border: none;
        cursor: url('images/Clipped_image_20251118_235335 (1).png'), auto;
    }
