@font-face {
    font-family: 'FOT-Seurat Pro B';
    src: url('fonts/FOT-Seurat Pro B.otf') format('opentype');
}
body {
    background-color: blanchedalmond;
    font-family: 'FOT-Seurat Pro B';
    color: #74664B;
}
.container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
}
img{
    width: 50px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .cart-image{
    position: relative;    
}
header .cart-image span{
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    background-color: limegreen;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 2px;
}
.catalog .item img{
    width: 80%;
}
.catalog{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.catalog .item{
    background-color: bisque;
    padding: 20px;
    border-radius: 20px;
}
.catalog .item h2{
    font-weight: 200;
}