@font-face {
    font-family: 'FOT-Seurat Pro B';
    src: url('fonts/FOT-Seurat Pro B.otf') format('opentype');
}
body {
    background-color: blanchedalmond;
    font-family: 'FOT-Seurat Pro B';
    color: #74664B;
    cursor: url('images/Animal-Crossing-leaf-cursor.png'), auto;
}
.container {
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    transition: transform 0.5s;
}
img{
    width: 50px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .cart-image{
    position: relative;
}
header .cart-image span{
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    background-color: limegreen;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 2px;
}
.catalog .item img{
    width: 80%;
}
.catalog{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
}
.catalog .item{
    background-color: bisque;
    padding: 20px;
    border-radius: 20px;
    line-height: 22px;
}
.catalog .item h2{
    font-size: 1vw;
}
.catalog .item .price{
    font-size: 1vw;
    letter-spacing: 2px;
}
    .catalog .item button {
        background-color: burlywood;
        color: saddlebrown;
        font-family: 'FOT-Seurat Pro B';
        padding: 5px 10px;
        line-height: 13px;
        font-size: 1vw;
        border-radius: 15px;
        margin-top: 10px;
        border: none;
        cursor: url('images/Clipped_image_20251118_235335 (1).png'), auto;
    }

.shoppingCart {
    background-color: darkolivegreen;
    color: antiquewhite;
    width: 400px;
    font-size: 2vw;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    transition: 0.5s;
}
body.showCart .shoppingCart{
    right: 0;
}
body.showCart header{
    transform: translateX(-250px);
}
.shoppingCart h1 {
    margin: 4px 7px 50px 40px;
    text-align: left;
    font-size: 2vw;
}
.shoppingCart .button{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
    .shoppingCart .productList .item {
        display: grid;
        grid-template-columns: 70px 150px 50px 1fr;
        gap: 10px;
        font-size: 1vw;
        text-align: center;
        align-items: center;
    }
    .shoppingCart .item:nth-child(2n+1){
        background-color: olive;
    }
