@font-face {
    font-family: 'FOT-Seurat Pro B';
    src: url('fonts/FOT-Seurat Pro B.otf') format('opentype');
}
body {
    background-color: blanchedalmond;
    font-family: 'FOT-Seurat Pro B';
    font-size: 80%;
    color: #74664B;
    cursor: url('images/Animal-Crossing-leaf-cursor.png'), auto;
}
.container {
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    transition: transform 0.5s;
}
img{
    width: 50px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .cart-image{
    position: relative;
}
header .cart-image span{
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    background-color: limegreen;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 2px;
}
.catalog .item img{
    width: 80%;
}
.catalog{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
}
.catalog .item{
    background-color: bisque;
    padding: 20px;
    border-radius: 20px;
    line-height: 22px;
}
.catalog .item h2{
    font-size: 10px;
}
.catalog .item .price{
    font-size: 10px;
    letter-spacing: 2px;
}
    .catalog .item button {
        background-color: burlywood;
        color: saddlebrown;
        font-family: 'FOT-Seurat Pro B';
        padding: 5px 10px;
        line-height: 13px;
        font-size: 10px;
        border-radius: 15px;
        margin-top: 10px;
        border: none;
        cursor: url('images/Clipped_image_20251118_235335 (1).png'), auto;
    }

.shoppingCart {
    background-color: darkolivegreen;
    color: antiquewhite;
    width: 400px;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    transition: 0.5s;
}
body.showCart .shoppingCart{
    right: 0;
}
body.showCart header .cart-image {
    transform: translateX(-380px);
    transition: transform 0.3s ease-in-out;
}
.shoppingCart h1 {
    margin: 4px 7px 50px 40px;
    text-align: left;
    font-size: 2vw;
}
.shoppingCart .button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.shoppingCart button {
    background-color: olive;
    color: blanchedalmond;
    cursor: url('images/Animal-Crossing-leaf-cursor.png'), auto;
    font-family: 'FOT-Seurat Pro B';
}

    .shoppingCart .productList .item {
        display: grid;
        grid-template-columns: 15px 70px 150px 50px 1fr;
        gap: 10px;
        padding: 5px;
        text-align: center;
        align-items: center;
    }
    .shoppingCart .item:nth-child(2n+1){
        background-color: olive;
    }

    .shoppingCart .item .less, .more, .remove {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;
        background-color: blanchedalmond;
        color: olive;
        border-radius: 50%;
    }


.orderBody {
    background-color: darkolivegreen;
    border-style: solid;
    border-color: yellowgreen;
    border-radius: 20px;
    color: blanchedalmond;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    padding: 10px 10px 10px 10px;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}
.orderBody.open{
    opacity: 1;
    z-index: 999;
}
    .orderBody input {
        background-color: blanchedalmond;
        color: #74664B;
        border: none;
        border-radius: 5px;
    }

    .orderBody h1 {
        font-size: 80%;
    }

.popUp {
    background-color: olive;
    border-style: solid;
    border-color: yellowgreen;
    border-radius: 20px;
    color: blanchedalmond;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    padding: 10px 10px 10px 10px;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    font-size: 80%;
}
.popUp.display {
    opacity: 1;
    z-index: 999;
}

.emptyCart {
    background-color: olive;
    border-style: solid;
    border-color: yellowgreen;
    border-radius: 20px;
    color: blanchedalmond;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    padding: 10px 10px 10px 10px;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}
.emptyCart.display {
    opacity: 1;
    z-index: 999;
}

@media only screen and (max-width: 992px) {
    .catalog {
        grid-template-columns: repeat(2, 1fr);
    }

    body {
        flex-direction: column-reverse;
        align-items: center;
        min-width: 100vw;
        overflow-x: hidden;
    }
}
@media only screen and (max-width: 565px) {
    .catalog {
        grid-template-columns: repeat(1, 1fr);
    }

    body {
        flex-direction: column-reverse;
        align-items: center;
        min-width: 100vw;
        overflow-x: hidden;
    }
    .shoppingCart{
        width: 375px;
    }
        .shoppingCart .productList .item {
            grid-template-columns: 15px 70px 100px 50px 1fr;
        }
}